<!DOCTYPE html>

<html>
    <head>
        <title>Dota 2 Pro Tracker Database</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="menu">
            <button class="updateButton" onclick='requestUpdate();'>Update Database</button>
            <button class="hButton" onclick="">Pos1</button>
            <button class="hButton" onclick="">Pos2</button>
            <button class="hButton" onclick="">Pos3</button>
            <button class="hButton" onclick="">Pos4</button>
            <button class="hButton" onclick="">Pos5</button>
            <textarea class="text" id="textfield"></textarea>
        </div>
        <div class="table-container"></div>
        <footer>
            <script type="text/javascript" src="js/script.js"></script>
        </footer>
    </body>
</html>